.all-countries {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  /* display: grid; */
  /* grid-template-columns: (1fr 3); */
}

.country {
  cursor: pointer;
  width: 350px;
  height: max-content;
  background-color: var(--DarkBlue--);
}

.flag-image img {
  width: 100%;
  height: 100%;
}

.flag-image img {
  object-fit: contain;
}

.country-description {
  padding: 2rem;
  color: var(--white--);
}

.country-description h3 {
  margin-bottom: 20px;
}
